@import "../../Styles/_variables.scss";

.stores {
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: relative;
    max-width: 1000px;
    margin: 1rem auto;

    @media (max-width: 400px) {
        padding: .1rem;
    }

    .stores-container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        margin: 0 50px;
        padding: 10px;
        gap: 25px;
        box-sizing: border-box;

        &::-webkit-scrollbar {
            display: none;
        }

        @media (max-width: 400px) {
            gap: 10px;
            margin: 0;
        }
    }

    .store {
        scroll-snap-align: center;
        border-radius: 50%;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.4);

        img {
            width: 100px;
            height: 95px;
            border-radius: 50%;
            box-sizing: border-box;

            @media (max-width: 400px) {
                width: 75px;
                height: 75px;
            }
        }

        &:hover {
            box-shadow: 0 0 2px 2px rgba(255, 215, 0, 1);
            transition: 0.3s;
        }
    }

    .arrow-left,
    .arrow-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2rem;
        cursor: pointer;
        border-radius: 50%;
        transition: background-color 0.3s ease;
        border: none;
        background: none;
        color: $story-arrows;

        &:hover {
            color: $story-arrows-hover;
            transition: 0.3s;
        }

        @media (max-width: 400px) {
            display: none;
        }
    }

    .arrow-left {
        left: 10px;
    }

    .arrow-right {
        right: 10px;
    }
}
