@import "../../Styles/_variables.scss";

.top-sellers {
    position: relative;
    max-width: 1200px;
    margin: 7rem auto 0;
    padding: 1rem;
  
    .title {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 2.2rem;
      color: $black;
    }
  
    .container {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      padding: 20px 0;
      box-sizing: border-box;
  
      .cards {
        display: flex;
        gap: 1rem;

  
        .card {
          scroll-snap-align: center;
          flex-shrink: 0;
          width: 220px;
          background: #fff;
          border-radius: 10px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          overflow: hidden;
          transition: transform 0.3s ease;
  
          &:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
          }
  
          a {
            text-decoration: none;
            color: inherit;
          }
  
          img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-bottom: 2px solid $black;
          }
  
          .card-name {
            text-align: center;
            font-weight: bold;
            font-size: 1rem;
            margin: 10px 0;
            color: $black;
          }
  
          .card-description {
            font-size: 0.875rem;
            text-align: center;
            padding: 0 10px;
            color: $black;
          }
        }
      }
  
      &::-webkit-scrollbar {
        display: none;
      }
    }

  }
  